.header {
    max-width: 880px;
    max-height: 74px;
    margin: 45px auto 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
    .header {
        max-width: 100%;
        max-height: 56px;
        margin-top: 28px;
    }
    
}