.popup__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 358px;
    margin-top: 48px;
    gap: 30px;
}

@media screen and (max-width: 767px) {
    .popup__form {
        margin-top: 75px;
        min-width: 238px;
    }
    
}