.button__save {
    margin: 18px auto 35px;
    min-width: 358px;
    min-height: 50px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.button__save:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .button__save {
        min-height: 46px;
        min-width: 238px;
        margin: 15px auto 25px;
        font-size: 14px;
        line-height: 17px;
    }
}